@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  user-select: none;
}

@layer components {
  .gradient {
    background: linear-gradient(90deg, #f87516 0%, #5e11ff 100%);
  }

  .card-gradient {
    background-color: transparent;
    background: linear-gradient(180deg, #0d061f 0%, #251e35 100%);
  }

  .text-gradient {
    background: linear-gradient(90deg, #f87516 0%, #5e11ff 45%, #5e11ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .card {
    @apply card-gradient rounded-[20px] border-2 border-white/5 p-8;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
